backup index and style.html
project_template.psd
pages/projects/assets/FFT-Sewing_unedited.jpg
pages/projects/assets/RoboBee-Review_unedited.jpg
pages/projects/assets/STP-STAR.png
pages/projects/assets/AI-Inventory_unedited.jpg
pages/projects/assets/debug.log
pages/projects/assets/ASM-Watts_unedited.jpg
pages/projects/assets/NMCP_unedited.png
pages/projects/assets/GSF_unedited.jpg
pages/projects/assets/MPC-Final_unedited.png
pages/projects/assets/RnA-Final_unedited.png
pages/projects/assets/Smoke_unedited.jpg
pages/projects/assets/SSSR-Final_unedited.png
