* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

head title {
    color: midnightblue;
    font-size: 50px;
}

body {
    margin: 0;
    background-color: white;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: midnightblue;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    margin-left: 250px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    justify-content: center;
}

.content a {
    color:blue;
}

/* .content profile-photo {
    justify-content: center;
} */

.content img {
    justify-items: center;
    width: 50%;
    height: auto;
    border-radius: 150px;
}

.buttons {
	margin-left: 250px;
  	padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.button {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    color: white;
    background: midnightblue;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.button a {
    color: white;
}

.button:hover {
    background: rgb(0, 45, 66, 0.5);
    color: white;
}

@media screen and (max-width: 768px){
    .content {
        grid-template-columns: 1fr;
    }
}