* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #0a0f22;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}

/* Side navigation links */
.sidenav a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the content */
.content {
    margin-left: 250px;
    padding-left: 20px;
    padding-top: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    justify-content: center;
    color: #bac7cc;
}

.content a {
    color: #56b2bb;
}

.content h1 {
    color: #f0f4f8;
    font-size: 50px;
}

.content img {
    margin-left: 50px;
    margin-top: 75px;
    width: 50%;
    height: auto;
    border-radius: 150px;
}

.buttons {
	margin-left: 250px;
  	padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.button {
    padding: 10px 15px;
    font-size: 15px;
    border: 2px solid #56b2bb;
    color: #56b2bb;;
    background: #0a0f22;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.button a {
    color: #56b2bb;
}

.button:hover {
    border: none;
    background: #f0f4f8;
    color: #1d2233;
}

.button:hover a {
    border: none;
    background: #f0f4f8;
    color: #1d2233;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .content {
        grid-template-columns: 1fr;
    }
}