* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #0a0f22;
}

/* Style the side navigation for desktop*/
.sidenav_desktop {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}

/* Side navigation links */
.sidenav_desktop a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav_desktop a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the side navigation for mobile*/
/* .nav_mobile {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}

/* Side navigation links */
.nav_mobile a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: flex;
}

/* Change color on hover */
.nav_mobile a:hover {
    background-color: #bac7cc;
    color: #1d2233;
} */

/* Style the content for desktop*/
.content_desktop {
    margin-left: 250px;
    padding-left: 20px;
    padding-top: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    justify-content: center;
    color: #bac7cc;
}

.content_desktop a {
    color: #56b2bb;
}

.content_desktop h1 {
    color: #f0f4f8;
    font-size: 50px;
}

.content_desktop img {
    margin-left: 50px;
    margin-top: 75px;
    width: 50%;
    height: auto;
    border-radius: 150px;
}

/* Style the content for mobile*/
/* .content_mobile {
    margin-top: 50px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
    justify-content: center;
    color: #bac7cc;
}

.content_mobile a {
    color: #56b2bb;
}

.content_mobile h1 {
    color: #f0f4f8;
    font-size: 50px;
}

.content_mobile img {
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    height: auto;
    border-radius: 150px;
} */

/* Style contact buttons */
.buttons {
	margin-left: 250px;
  	padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.button {
    padding: 10px 15px;
    font-size: 15px;
    border: 2px solid #56b2bb;
    color: #56b2bb;;
    background: #0a0f22;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.button a {
    color: #56b2bb;
}

.button:hover {
    border: none;
    background: #f0f4f8;
    color: #1d2233;
}

.button:hover a {
    border: none;
    background: #f0f4f8;
    color: #1d2233;
}

@media screen and (min-width: 768px){
    /* .nav_mobile {
        display: none;
    } */

    .content_desktop {
        grid-template-columns: 1fr;
    }

    /* .content_mobile {
        display: none;
    } */
}

/* @media screen and (max-device-width: 480px){
    .nav_mobile {
        display: block;
    }

    .content_desktop {
        display: none;
    }

    .content_mobile {
        display: block;
    }
} */