* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #0a0f22;
}

/* Style the side navigation for desktop */
.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}


/* Side navigation links */
.sidenav a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the content for desktop */
.content_desktop {
    margin-left: 15vw;
    padding-left: 20px;
    padding-top: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    justify-content: center;
    color: #bac7cc;
}

.content_desktop a {
    color: #56b2bb;
}

.content_desktop h1 {
    color: #f0f4f8;
    font-size: 50px;
}

.content_desktop img {
    margin-left: 50px;
    margin-top: 75px;
    width: 50%;
    height: auto;
}

/* Style the side navigation for mobile */
.nav_mobile {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    font-size: 20px;
    text-align: center;
}

/* Side navigation links */
.nav_mobile a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: flex;
}

/* Change color on hover */
.nav_mobile a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the content for mobile */
.content_mobile {
    padding-left: 2.5%;
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
    justify-content: center;
    color: #bac7cc;
}

.content_mobile a {
    color: #56b2bb;
}

.content_mobile h1 {
    color: #f0f4f8;
    font-size: 50px;
}

.content_mobile img {
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
    height: auto;
    border-radius: 50%;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .sidenav {
        display: block;
    }
    
    .nav_mobile {
        display: none;
    }

    .content_desktop {
        grid-template-columns: 1fr 1fr;
    }

    .content_mobile {
        display: none;
    }

    .buttons_desktop {
        display: flex;
    }

    .buttons_mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidenav {
        display: none;
    }

    .nav_mobile {
        display: flex;
    }

    .content_desktop {
        display: none;
    }

    .content_mobile {
        grid-template-rows: 1fr 1fr;
    }

    .buttons_desktop {
        display: none;
    }

    .buttons_mobile {
        display: flex;
    }
}