<nav class="sidenav">
    <a href="https://apoorvakhairnar.github.io">Home</a>
    <a href="https://scholar.google.com/citations?user=SeCzgwsAAAAJ&hl=en">Publications</a>
    <a href="https://apoorvakhairnar.github.io/pages/projects/">Projects</a>
</nav>
<!-- Nav bar for mobile -->
<nav class="nav_mobile">
    <a href="https://apoorvakhairnar.github.io">Home</a>
    <a href="https://scholar.google.com/citations?user=SeCzgwsAAAAJ&hl=en">Publications</a>
    <a href="https://apoorvakhairnar.github.io/pages/projects/">Projects</a>
</nav>