* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #0a0f22;
}

/* Style the side navigation for desktop */
.sidenav {
    height: 100%;
    width: 0.25vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}


/* Side navigation links */
.sidenav a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the content for desktop */
.content_desktop {
    margin-left: 0.25vw;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    color: #1d2233;
}

.content_desktop a {
    color: #56b2bb;
}

.content_desktop h1 {
    color: #0a0f22;
    font-size: 50px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

.content_desktop figure {
    border: 20px solid;
    border-color: #bac7cc;
    border-radius: 20px;
    width: 0.1875vw;
    height: 0.33vh;
    text-align: center
}

.content_desktop figure img {
    width: 100%;
}

.content_desktop figure figcaption {
    color: #1d2233; 
}

.content_desktop figure figcaption a {
    color: #1d2233;
    text-decoration: none;
}

/* Style the side navigation for mobile */
.nav_mobile {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    font-size: 20px;
    text-align: center;
}

/* Side navigation links */
.nav_mobile a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: flex;
}

/* Change color on hover */
.nav_mobile a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the content for mobile */
.content_mobile {
    padding-top: 50px;
    font-size: 15px;
    text-align: left;
    justify-content: center;
    color: #1d2233;
}

.content_mobile a {
    color: #56b2bb;
}

.content_mobile h1 {
    color: #0a0f22;
    font-size: 50px;
}

.content_mobile figure {
    border: 20px solid;
    border-color: #bac7cc;
    border-radius: 20px;
    background-color: #bac7cc;
    width: 250px;
    height: 0.25*vh;
    text-align: center
}

.content_mobile figure img {
    width: 100%;
}

.content_mobile figure figcaption {
    color: #1d2233; 
}

.content_mobile figure figcaption a {
    color: #1d2233;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .sidenav {
        display: block;
    }
    
    .nav_mobile {
        display: none;
    }

    .content_desktop {
        grid-template-columns: 1fr 1fr;
    }

    .content_mobile {
        display: none;
    }

    .buttons_desktop {
        display: flex;
    }

    .buttons_mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidenav {
        display: none;
    }

    .nav_mobile {
        display: flex;
    }

    .content_desktop {
        display: none;
    }

    .content_mobile {
        display: flex;
    }

    .buttons_desktop {
        display: none;
    }

    .buttons_mobile {
        display: flex;
    }
}