* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #bac7cc;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0a0f22;
    overflow-x: hidden;
    padding: 15% 0;
    font-size: 20px;
    text-align: center;
}


/* Side navigation links */
.sidenav a {
    color: #bac7cc;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #bac7cc;
    color: #1d2233;
}

/* Style the content */
.content {
    margin-left: 250px;
    padding-left: 20px;
    font-size: 20px;
    text-align: left;
    justify-content: center;
    color: #1d2233;
}

.content a {
    color: #56b2bb;
}

.content h1 {
    color: #0a0f22;
    font-size: 50px;
}

@media screen and (max-width: 768px){
    .content {
        margin-left: 0
    }
}